<div class="container">
<center> 
<h2><%=@response.title%></h2>
<p>Current Forecast: <%=@response.condition.text%></p>
<p><%=@response.condition.temp%> Degrees</p>
<p><img src="<%=@response.image.url%>"></p>
</center>
</div>


